---
layout: default
---
{% if page.math != false %}
  {% include mathjax.html %}
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}

      {% assign categorisize = categories.size %}
      {% if categorisize > 0 %}
        [&nbsp; 
      {% endif %}

    
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}

      {% if categorisize > 0 %}
        &nbsp; ]
      {% endif %}
    </div>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

<script src="https://utteranc.es/client.js"
      repo="alexwanng/alexcode"
      issue-term="pathname"
      label="comments"
      theme="github-light"
      crossorigin="anonymous"
      async>
</script>

</article>
